.thumbnail {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
a{
  border-radius: 10px;
}
.portfolio-caption{
  box-shadow: 5px 5px 10px 1px #ef8f170d;
  border-radius: 10px;
}