<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Productos</h2>
        <h3 class="section-subheading text-muted">
          Algunos de nuestros productos.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a
          class="portfolio-link thumbnail"
          data-toggle="modal"
          href="#portfolioModal2"
        >
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="../../../assets/img/naturalis/aceite-coco-pasa-mani.jpeg"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Aceite de coco y Pasta de maní</h4>
          <p class="text-muted">Naturalis</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link  thumbnail" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="../../../assets/img/naturalis/fruta-desecada.jpeg"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Fruta desecada</h4>
          <p class="text-muted">Naturalis</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link  thumbnail" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="../../../assets/img/naturalis/frutos-secos.jpeg"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Frutos secos</h4>
          <p class="text-muted">Naturalis</p>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link  thumbnail" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="../../../assets/img/naturalis/mixs.jpeg"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Mixs</h4>
          <p class="text-muted">Naturalis</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Catena Zapata</h2>
              <p class="item-intro text-muted">Bodega.</p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/01-full.webp"
                alt=""
              />
              <p>
                La Bodega Catena Zapata se encuentra ubicada en la localidad de
                Agrelo, Departamento Luján de Cuyo, acompañada con una increíble
                vista a la Cordillera de los Andes. Cuenta con la más moderna
                tecnología para la elaboración de vino. Fue diseñada para cuidar
                el manejo de las uvas, y de esa forma preservar los aromas y
                sabores naturales de la fruta. Su arquitectura es similar a una
                pirámide de la cultura Maya. La Bodega simboliza el orgullo de
                una familia, de sus raíces y el deseo de mostrar al mundo las
                características únicas de Mendoza como región vitivinícola.
              </p>
              <ul class="list-inline">
                <li>Teléfono: 0261 413-1124</li>
                <li>
                  Dirección: J. Cobos s/n, Agrelo, Luján de Cuyo – Mendoza,
                  Argentina
                </li>
                <li>
                  Horario: Lunes a Viernes: 09:00-16:30, Sábado: 09:00-12:30
                </li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/02-full.webp"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Explore</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/03-full.webp"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Finish</li>
                <li>Category: Identity</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/04-full.webp"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal5"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/05-full.webp"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Southwest</li>
                <li>Category: Website Design</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal6"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img
                class="img-fluid d-block mx-auto"
                src="../../../assets/img/portfolio/06-full.webp"
                alt=""
              />
              <p>
                Use this area to describe your project. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Est blanditiis dolorem culpa
                incidunt minus dignissimos deserunt repellat aperiam quasi sunt
                officia expedita beatae cupiditate, maiores repudiandae,
                nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
