<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Nosotros</h2>
        <h3 class="section-subheading text-muted">Somos productores y distribuidores de frutos secos, tenemos la mejor calidad al mejor precio, vendemos por mayor y menor.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../../../assets/img/naturalis/about/finca.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cosecha Nuez 2020</h4>
                <h4 class="subheading">Finca La Viviana</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Los mejores productos, de la mano de la mejor finca</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../../../assets/img/naturalis/about/nogal.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Plantación de Nogal.</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Aquí en Tupungato se produce la nuez de Naturalis Frutos Secos, pueblo ubicado al pie de la Cordillera De Los Andes a 1200 msnm</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../../../assets/img/naturalis/about/otonio.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Otoño 2020</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Colores que nos distinguen durante esta época del año</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="../../../assets/img/naturalis/about/guara.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Guara 2020</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Inicia un nuevo ciclo y con él el compromiso de producir la mejor calidad para nuestros clientes, para ello con gran dedicación y amor acopañaremos durante todo el camino a la producción de frutos secos</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>¡Productores
                <br>de alimentos
                <br>saludables!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>