<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        <img style="width: 100%;" src="assets/img/naturalis/logo/naturalis-icono-negro.png" alt="">
      </div>
      <div class="intro-heading text-uppercase">Productos para cada ocasión</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Dime más</a>
    </div>
  </div>
</header>