<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Servicios</h2>
        <h3 class="section-subheading text-muted">Todo lo que necesitás.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a target="blank" href="#" data-toggle="modal" data-target="#exampleModalCenter" class="text-muted">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
        </span>
      </a>
        <h4 class="service-heading">Listado de precios</h4>
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="text-muted">Ingresá a nuestro listado de precios actualizado.</a>
        <app-prices-modal></app-prices-modal>
      </div>
      <!-- <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Guía Turista</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-wine-glass-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Catas de Vino</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div> -->
    </div>
  </div>
</section>